{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body style="background-image: url('https://1.bp.blogspot.com/-Ag-h0IZ4YUg/XiNC8i5shkI/AAAAAAAAQ1k/pO6M_wu3jhkeLqPJVtW7JZfWyqvYZr0ZACLcBGAsYHQ/s1920/oboi-na-rabochij-stol-pink-spiral-galaxy-2012%252813%2529-imagecollection1-w1920-site...fotos-slides-pictures-iindonline.blogspot.com.jpg'); background-size: cover;"  >
    
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">

            <h1 style="color: white;">
                Create to do list

            </h1>
            <form  method="post">
                {% csrf_token %}
              
                <div style="color: white;">
                    {{form|crispy}}

                </div>
                <button style="margin-top: 32px; font-size: large;" class="btn btn-success" type="submit" >Save</button>         
            </form>
             
        </div>




    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>